:root {
  --primary-purple: #52489c;
  --primary-blue: #4062bb;
  --primary-blue-green: #59c3c3;
  --primary-platinum: #ebebeb;
  --primary-rose: #f45b69;
}

html{
	font-family: 'Urbanist', sans-serif;
}

body{
	background-color: var(--primary-platinum);
}

nav {
	margin: 0px 0px 0px 0px;
	border: 1px solid var(--primary-rose)
}

.brand-logo {
	margin-left: 5px
}
